@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding-top: 80px;
}

/* Menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    gap: 40px;
    padding: 25px;
    font-weight: bold;
    align-items: center;
    height: 100%;
    background-color: rgb(92, 92, 92);
}

.menu a {
    color: white;
}

/* Seções */
section {
    height: 100vh;
    padding: 25px;
}

/* Seção Inicio */
#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nome-prof {
    width: 50vw;
}

.nome-prof h1 {
    padding-bottom: 30px;
    font-size: 2.5em;
}

.nome-prof h2 {
    font-size: 1.2em;
}

.apresentacao {
    padding: 25px;
    width: 50vw;
}

.apresentacao p {
    padding: 10px;
}

/* Seção Formação Acadêmica */

#estudo {
    background-color: aquamarine;
}

#estudo h1, p {
    padding-bottom: 25px;
}

#estudo div {
    padding-bottom: 15px;
}

.icones {
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
}

#estudo img {
    width: 5%;
    height: 5%;
    margin-right: 60px;
}

#estudo img:hover {
    width: 6%;
    height: 6%;
    cursor: pointer;
    transition: 0.3s;
}

#eclipse {
    width: 180px;
    height: 43px;
    padding-bottom: 22px;
}

/* Seção Projetos Acadêmicos */

#academico {
    background-color: rgba(241, 83, 83, 0.5);
}

#academico h1 {
    padding-bottom: 25px;
}

#academico div {
    padding-top: 15px;
    padding-bottom: 15px;
}

#academico p {
    padding: 3px;
}

/* Seção Experiencia Profissional */

#experiencia {
    background-color: rgba(91, 136, 233, 0.5);
}

#experiencia h1 {
    padding-bottom: 25px;
}

#experiencia h5 {
    padding-top: 5px;
    padding-bottom: 10px;
}

#experiencia ul {
    padding-left: 25px;
    list-style: "\27A4";
}

#experiencia li {
    padding-left: 10px;
    padding-bottom: 5px;
}