@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 80px;
}

/* Menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    gap: 40px;
    padding: 45px;
    font-weight: 800;
    font-size: 1.2em;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(to right, rgb(14, 152, 233), rgb(54, 148, 235), rgb(15, 84, 189));
}

.menu a {
    color: white;
}

/* Seções */
section {
    height: 100vh;
    padding: 25px
}

/* Seção Inicio */
#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(90deg, darkslategray, rgb(60, 145, 145), rgb(18, 78, 78));
    color: white;
}

.nome-prof {
    width: 50vw;
}

.nome-prof h1 {
    padding-bottom: 30px;
    font-size: 3.5em;
    font-weight: 800;
    font-style: italic;
}

.nome-prof h2 {
    font-size: 1.2em;
}

.apresentacao {
    padding: 25px;
    width: 50vw;
}

.apresentacao p {
    padding: 10px;
}

/* Seção Formação Acadêmica */

#estudo {
    background-color: aquamarine;
}

#estudo h1, p {
    padding-bottom: 25px;
}

#estudo div {
    padding-bottom: 15px;
}

.icones {
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
}

#estudo img {
    width: 5%;
    height: 5%;
    margin-right: 60px;
}

#estudo img:hover {
    width: 6%;
    height: 6%;
    cursor: pointer;
    transition: 0.3s;
}

#eclipse {
    width: 180px;
    height: 43px;
    padding-bottom: 22px;
}

/* Seção Projetos Acadêmicos */

#academico {
    background-color: rgba(241, 83, 83, 0.5);
}

#academico h1 {
    padding-bottom: 25px;
}

#academico div {
    padding-top: 15px;
    padding-bottom: 15px;
}

#academico p {
    padding: 3px;
}

/* Seção Experiencia Profissional */

#experiencia {
    background-color: rgba(91, 136, 233, 0.5);
}

#experiencia h1 {
    padding-bottom: 25px;
}

#experiencia h5 {
    padding-top: 5px;
    padding-bottom: 10px;
}

#experiencia ul {
    padding-left: 25px;
    list-style: "\27A4";
}

#experiencia li {
    padding-left: 10px;
    padding-bottom: 5px;
}